
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.gravatar') %></th>
      <th><%= t('.name') %></th>
      <th><%= t('.email') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= gravatar_for user, size: 50 %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
    </tr>
  </tbody>
</table>
