<% provide(:title, t('.title')) %>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row">
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: "btn btn-primary actions",
              aria: { label: t('actions.new') },
              title: t('actions.new')  do %>
          <%== icon('plus-square-fill') %>
          <%= t('actions.new') + " " + t('activerecord.models.user') %>
        <% end %>
      </li>
      <span class="nav-text ms-5 me-5 h2">
        <%= t('.header')%>
      </span>
    </ul>
  </div>
</nav>
<div class = "container">
  <div class = 'listing'>
    <%= search_form_for @q do |f| %>
      <%= f.search_field :name_or_email_cont, class: "search_field" %>
      <%= f.button nil, class: "btn btn-primary btn-sm", action: :submit do %>
        <%== icon('search') %>
      <% end %>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) %>
    <table id='projects' class='table table-responsive table-condensed table-striped table-hoverable table-bordered' >
      <thead>
        <th scope="col" width="150px"><%= t('.gravatar')%></th>
        <th scope="col"><%= sort_link(@q, :name) %></th>
        <th scope="col"><%= sort_link(@q, :email) %></th>
        <th scope="col"><%= sort_link(@q, :admin) %></th>
        <th scope="col" width="150px"><%= t('table.links')%></th>
      </thead>
      <tbody>
        <% @users.each do |u| %>
          <tr scope="row">
            <td><%= gravatar_for u, size: 20 %></td>
            <td><%= link_to u.name, user_path(u) %></td>
            <td><%= highlight u.email, params.dig(:q, :email_cont)  %></td>
            <td><%= u.admin %></td>
            <td>
              <%= link_to user_path(u), class: "btn btn-secondary btn-sm icon-link",
                    aria: { label: t('actions.show') },
                    title: t('actions.show'),
                    display: "inline" do %>
                <%== icon('eye') %>
              <% end %>
              <%= link_to edit_user_registration_path(u), class: "btn btn-warning btn-sm icon-link",
                    aria: { label: t('actions.edit') },
                    title: t('actions.edit'),
                    display: "inline"  do %>
                <%== icon('pencil') %>
              <% end %>
              <% if current_user && current_user.admin? %>
                <%= link_to u, method: :delete, class: "btn btn-danger btn-sm icon-link",
                      aria: { label: t('actions.delete') },
                      title: t('actions.delete'),
                      display: "inline"  do %>
                  <%== icon('trash') %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
    <%== pagy_info(@pagy) %>

  </div>
</div>
