<% provide(:title, @user.name) %>
<%# Header with navigation buttons. %>
<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col col-sm-3">
      <%= link_to users_path,
            class: "icon-link btn btn-sm btn-secondary actions",
            title: t('actions.index') do %>
        <%== icon('list-columns-reverse') %>
        <%= t('actions.index') %>
      <% end %>
      <!-- Admin section -->
      <% if @user == current_user || current_user.admin  %>
        <%= link_to edit_user_registration_path(@user),
              class: "icon-link btn btn-sm btn-warning actions",
              title: t('actions.edit') do %>
              <%== icon('pencil') %>
              <%= t('actions.edit') %>
        <% end %>
      <% end %>
      <% if current_user.admin %>
        <%= link_to cancel_user_registration_path(@user),
              method: :delete,
              class: "icon-link btn btn-sm btn-danger actions",
              title: t('actions.delete'),
              data: { confirm: "Are you sure? Delete cannot be undone." } do %>
          <%== icon('trash') %>
          <%= t('actions.delete') %>
        <% end %>
      <% end %>
    </div>

    <div class="col col-sm-1">
      <%= link_to @user.prev("name"),
            class: "icon-link btn btn-sm btn-secondary actions",
            title: t('actions.previous') do %>
        <%== icon('arrow-left') %>
        <%= t('actions.previous') %>
      <% end %>
    </div>

    <div class="col col-sm-auto">
      <h2><span class="name"><%= @user.name %></span></h2>
    </div>

    <div class="col col-sm-1">
      <%= link_to @user.next("name"),
            class: "icon-link btn btn-sm btn-secondary actions",
            title: t('actions.next') do %>
        <%= t('actions.next') %>
        <%== icon('arrow-right') %>
      <% end %>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Gravatar</th>
      <th>Username</th>
      <th>Email</th>
      <% if current_user.admin %>
        <th>Links</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @user %>
  </tbody>
</table>

<!-- Image section -->
