<% provide(:title, @user.name) %>
<%# Header with navigation buttons. %>
<h2>
  <div class="left">
    <%= link_to users_path, class: "btn btn-default" do %>
      List <span class="glyphicon glyphicon-eject"></span>
    <% end %>

    <!-- Admin section -->
    <% if @user == current_user || current_user.admin  %>
      <%= link_to edit_user_registration_path(@user), class: "btn btn-warning actions" do %>
        Edit <span class="glyphicon glyphicon-edit" title="edit"></span>
      <% end %>
    <% end %>
    <% if current_user.admin %>
      <%= link_to cancel_user_registration_path(@user), method: :delete, class: "btn btn-danger actions",
              data: { confirm: "Are you sure? Delete cannot be undone." } do %>
        Delete <span class="glyphicon glyphicon-trash" title="edit"></span>
      <% end %>
    <% end %>
  </div>

  <%= link_to @user.prev("name"), class: "btn btn-default" do %>
    Prev <span class="glyphicon glyphicon-menu-left"></span>
  <% end %>
  &nbsp;&nbsp;<span class="name"><%= @user.name %></span>&nbsp;&nbsp;
  <%= link_to @user.next("name"), class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-menu-right"></span> Next
  <% end %>
</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Gravatar</th>
      <th>Username</th>
      <th>Email</th>
      <% if current_user.admin %>
        <th>Links</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @user %>
  </tbody>
</table>

<!-- Image section -->
