<div class="container-fluid">
  <%= bootstrap_form_with(model: @project) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_field :code, hide_label: true,
          placeholder: t('activerecord.attributes.project.code'),
          help: t('activerecord.attributes.project.code_help') %>
    <%= f.text_field :title, hide_label: true,
          placeholder: t('activerecord.attributes.project.title'),
          help: t('activerecord.attributes.project.title_help') %>
    <%= f.text_area :description, hide_label: true,
          placeholder: t('activerecord.attributes.project.description') %>

    <div class="actions">
      <%= f.primary do %>
        <%= yield(:button_text) %>
        <%== icon('save') %>
      <% end %>
      <% if @project.persisted? %>
        <%= link_to @project, class: "btn btn-warning actions",
                data: { turbo_confirm: t('actions.sure') } do %>
                <%= t('actions.discard') %>
                <%== icon('x-square') %>
        <% end %>
      <% else %>
        <%= link_to projects_path, class: "btn btn-warning actions",
                data: { turbo_confirm: t('actions.sure') }  do %>
          <%= t('actions.discard') %>
          <%== icon('x-square') %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
