<div id="<%= dom_id project %>">
  <p>
    <strong><%= t('activerecord.attributes.project.code') %>:</strong>
    <%= project.code %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.project.title') %>:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.project.description') %>:</strong>
    <%= project.description %>
  </p>

</div>
