<% provide(:title, t('.title')) %>
<h2>
  <%= t('.header')%>
</h2>
<div class = "container">
  <div class = 'listing'>
    <%= search_form_for @q do |f| %>
      <%= f.search_field :code_or_title_or_description_cont, class: "search_field" %>
      <%= f.button nil, class: "btn btn-primary btn-sm", action: :submit do %>
        <%== icon('search') %>
      <% end %>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) %>
    <table id='projects' class='table table-responsive table-condensed table-striped table-hoverable table-bordered' >
      <thead>
        <th scope="col"><%= sort_link(@q, :code) %></th>
        <th scope="col"><%= sort_link(@q, :title) %></th>
        <th scope="col"><%= sort_link(@q, :description) %></th>
        <th scope="col" width="120px"><%= t('table.links')%></th>
      </thead>
      <tbody>
        <% @projects.each do |p| %>
        <tr scope="row">
          <td><%= link_to p.code, project_path(p) %></td>
          <td><%= highlight p.title, params.dig(:q, :title_cont)  %></td>
          <td><%= highlight p.description, params.dig(:q, :description_cont)  %></td>
          <td>
            <%= link_to project_path(p), class: "btn btn-primary btn-sm icon-link",
                  aria: { label: t('actions.show') },
                  title: t('actions.show'),
                  display: "inline" do %>
              <%== icon('arrow-down') %>
            <% end %>
            <%= link_to edit_project_path(p), class: "btn btn-warning btn-sm icon-link",
                  aria: { label: t('actions.edit') },
                  title: t('actions.edit'),
                  display: "inline"  do %>
              <%== icon('pencil') %>
            <% end %>
            <% if current_user && current_user.admin? %>
              <%= link_to p, method: :delete, class: "btn btn-danger btn-sm icon-link",
                    aria: { label: t('actions.delete') },
                    title: t('actions.delete'),
                    display: "inline"  do %>
                <%== icon('trash') %>
              <% end %>
            <% end %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
    <%== pagy_info(@pagy) %>

    <div class="left">
      <%= link_to new_project_path, class: "btn btn-primary actions" do %>
          <%= t('actions.new') + " " + t('activerecord.models.project') %>
          <span class="glyphicon glyphicon-pencil" title="new"></span>
      <% end %>
    </div>
  </div>
</div>
