<% provide(:title, t('.title', code: @project.code)) %>
<%# Header with navigation buttons. %>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <ul class="navbar-nav flex-row page-heading">
      <li class="nav-item d-inline-flex p-1">
        <%= link_to projects_path,
              class: "icon-link btn btn-sm btn-secondary actions",
              title: t('actions.index') do %>
          <%== icon('list-columns-reverse') %>
          <%= t('actions.index') %>
        <% end %>
      </li>
      <!-- Admin section -->
      <% if current_user.admin %>
        <li class="nav-item d-inline-flex p-1">
          <%= link_to edit_project_path(@project),
                class: "icon-link btn btn-sm btn-warning actions",
                title: t('actions.edit') do %>
                <%== icon('pencil') %>
                <%= t('actions.edit') %>
          <% end %>
        </li>
      <% end %>
      <% if current_user.admin %>
        <li class="nav-item d-inline-flex p-1">
          <%= link_to @project,
                method: :delete,
                class: "icon-link btn btn-sm btn-danger actions",
                title: t('actions.delete'),
                data: { confirm: "Are you sure? Delete cannot be undone." } do %>
            <%== icon('trash') %>
            <%= t('actions.delete') %>
          <% end %>
        </li>
      <% end %>

      <li class="nav-item d-inline-flex p-1">
        <%= link_to @project.prev("code"),
              class: "icon-link btn btn-sm btn-secondary actions",
              title: t('actions.previous') do %>
          <%== icon('arrow-left') %>
          <%= t('actions.previous') %>
        <% end %>
      </li>

      <li class="nav-text h2 d-inline-flex p-1 ms-5 me-5">
        <%= @project.code + ": " + @project.title %>
      </li>

      <li class="nav-item d-inline-flex p-1">
        <%= link_to @project.next("code"),
              class: "icon-link btn btn-sm btn-secondary actions",
              title: t('actions.next') do %>
          <%= t('actions.next') %>
          <%== icon('arrow-right') %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<%= render @project %>
