<% provide(:title, t('.title')) %>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row">
      <li class="nav-item">
        <%= link_to new_tag_path, class: "btn btn-primary actions",
              aria: { label: t('actions.new') },
              title: t('actions.new')  do %>
          <%== icon('plus-square-fill') %>
          <%= t('actions.new') + " " + t('activerecord.models.tag') %>
        <% end %>
      </li>
      <span class="nav-text ms-3 me-3 h2">
        <%= t('.header')%>
      </span>
    </ul>
  </div>
</nav>
<div class = "container">
  <div class = 'listing'>
    <%= search_form_for @q do |f| %>
      <%= f.search_field :full_tag_or_description_cont, class: "search_field" %>
      <%= f.button nil, class: "btn btn-primary btn-sm", action: :submit do %>
        <%== icon('search') %>
      <% end %>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) %>
    <table id='tags' class='table table-responsive table-condensed table-striped table-hoverable table-bordered' >
      <thead>
        <th scope="col"><%= sort_link(@q, :discipline_code,
                  t('activerecord.attributes.tag.discipline')) %></th>
        <th scope="col"><%= sort_link(@q, :phase) %></th>
        <th scope="col"><%= sort_link(@q, :full_tag) %></th>
        <th scope="col"><%= sort_link(@q, :description) %></th>
        <th scope="col"><%= t('activerecord.attributes.tag.notes') %></th>
        <th scope="col" width="150px"><%= t('table.links')%></th>
      </thead>
      <tbody>
        <% @tags.each do |t| %>
          <tr scope="row">
            <td><%= t.discipline.code %></td>
            <td><%= t.phase %></td>
            <td><%= link_to t.full_tag, tag_path(t) %></td>
            <td><%= highlight t.description, params.dig(:q, :full_tag_or_description_cont)  %></td>
            <td><%= t.notes %></td>
            <td>
              <%= link_to tag_path(t), class: "btn btn-secondary btn-sm icon-link",
                    aria: { label: t('actions.show') },
                    title: t('actions.show'),
                    display: "inline" do %>
                <%== icon('eye') %>
              <% end %>
              <%= link_to edit_tag_path(t), class: "btn btn-warning btn-sm icon-link",
                    aria: { label: t('actions.edit') },
                    title: t('actions.edit'),
                    display: "inline"  do %>
                <%== icon('pencil') %>
              <% end %>
              <% if current_user && current_user.admin? %>
                <%= link_to p, method: :delete, class: "btn btn-danger btn-sm icon-link",
                      aria: { label: t('actions.delete') },
                      title: t('actions.delete'),
                      display: "inline"  do %>
                  <%== icon('trash') %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
    <%== pagy_info(@pagy) %>


  </div>
</div>
